################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/parking_lot/.vs/parking_lot
/src/parking_lot/parking_lot/bin